<!DOCTYPE html>
<html lang="en">
<!-- Base page Code -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vera Portfolio</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="bootstrap-social.css">
</head>
<body>
    <main>
        <div class="col-lg-10"></div>
        <div class="col-lg-2 text-right">
            <a href=../index.html><span class="glyphicon glyphicon-remove-circle" style="font-size:32px; color: silver;">
            </span></a>
        </div>
          <div class="container links">
              <div class="col-md-4"><a href=about.html><p class="links">About Me</p></a></div>
              <div class="col-md-4"><a href=projects.html><p class="links">Projects 2017</p></a></div>
              <div class="col-md-4"><a href=contacts.html><p class="links">Contacts</p></a></div>
          </div>
          <header class="container">
            <div class="row">
                <div class="col-md-4">
                    <hr class="line-tkick">
                </div>
            </div>
              <div class="row">
                <div class="col-md-8">
                    <hr class="line-tkick">
                </div>
              </div>
              <br>
              <br>
                <div class="col-md-12 dis-title2">
                    <h1> Log Analysis </h1>
                </div>
              <br>
                <div class="col-md-12 dis-title">
                    <h1>Explanation</h1>
                </div>
                <div class="col-md-12 dis-desc">
                    <p>You've been hired onto a team working on a newspaper site. The user-facing newspaper site
                        frontend itself, and the database behind it, are already built and running. You've been asked to
                        build an internal reporting tool that will use information from the database to discover what
                        kind of articles the site's readers like.
                        The database contains newspaper articles, as well as the web server log for the site.
                        The log has a database row for each time a reader loaded a web page. Using that information,
                        your code will answer questions about the site's user activity.
                        The program you write will run from the command line.
                        It won't take any input from the user. Instead, it will connect to that database,
                        use SQL queries to analyze the log data, and print out the answers to some questions.</p>
                </div>
              <br>
                <div class="col-md-12 dis-title">
                    <h1>Why this Project</h1>
                </div>
                <div class="col-md-12 dis-desc">
                    <p>In this project, I will stretch my SQL database skills. I will get practice interacting
                        with a live database both from the command line and from my code.
                        I will explore a large database with over a million rows. And I will build and refine
                        complex queries and use them to draw business conclusions from data.</p>
                </div>
              <br>
                <div class="col-md-12 dis-title">
                    <h1>What I Learned </h1>
                </div>
                <div class="col-md-12 dis-desc">
                    <p>Building an informative summary from logs is a real task that comes up very often in software
                        engineering. In this project, I'll work with data that could have come from a real-world web
                        application, with fields representing information that a web server would record, such as HTTP
                        status codes and URL paths. The web server and the reporting tool both connect to the same
                        database, allowing information to flow from the web server into the report.
                        This shows one of the valuable roles of a database server in a real-world application:
                        it's a point where different pieces of software (a web app and a reporting tool, for instance)
                        can share data.</p>
                </div>
              <br>
              <div class="col-md-12 dis-title">
                    <h1>GitHub Link </h1>
                </div>
                <div class="col-md-12 dis-desc">
                    <a href="https://github.com/veracpg/Udacity_Logs_Analysis_Project"><p> Log Analysis Project
                    </p></a>
                </div>
          </header>
    </main>
    <br>
       <footer id="footer" class="container-fluid">
        <div class="col-md-12 footer">
            <section id="social" class="row">
            <div class="col-md-12">
              <a class="btn-lg btn-group btn-social-icon btn-facebook" href="https://www.facebook.com/vera.costapereira">
                <span class="fa fa-facebook"></span>
              </a>
              <a class="btn-lg btn-group btn-social-icon btn-github" href="https://github.com/veracpg">
                <span class="fa fa-github"></span>
              </a>
              <a class="btn-lg btn-group btn-social-icon btn-instagram" href="https://www.instagram.com/">
                <span class="fa fa-instagram"></span>
              </a>
            </div>
          <p>Build by Vera G.</p>
        </div>
      </footer>
</body>
</html>