<!DOCTYPE html>
<html lang="en">
<!-- Base page Code -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vera Portfolio</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="bootstrap-social.css">
</head>
<body>
    <main>
        <div class="col-lg-10"></div>
        <div class="col-lg-2 text-right">
            <a href=../index.html><span class="glyphicon glyphicon-remove-circle" style="font-size:32px; color: silver;">
            </span></a>
        </div>
          <div class="container links">
              <div class="col-md-4"><a href=about.html><p class="links">About Me</p></a></div>
              <div class="col-md-4"><a href=projects.html><p class="links">Projects 2017</p></a></div>
              <div class="col-md-4"><a href=contacts.html><p class="links">Contacts</p></a></div>
          </div>
          <header class="container">
            <div class="row">
                <div class="col-md-4">
                    <hr class="line-tkick">
                </div>
            </div>
              <div class="row">
                <div class="col-md-8">
                    <hr class="line-tkick">
                </div>
              </div>
              <br>
              <br>
                <div class="col-md-12 dis-title2">
                    <h1>Movie Website </h1>
                </div>
              <br>
                <div class="col-md-12 dis-title">
                    <h1>Explanation</h1>
                </div>
                <div class="col-md-12 dis-desc">
                    <p>Write a server-side code to store a list of my favourite movies, including box art imagery
                    and a movie trailer URL. I will then use the code to generate a static web page allowing visitors
                     to browse their movies and watch the trailers.</p>
                </div>
              <br>
                <div class="col-md-12 dis-title">
                    <h1> Why this Project </h1>
                </div>
                <div class="col-md-12 dis-desc">
                    <p>At their core, Full Stack Web Developers are programmers - I'm just happen to specialize in
                    writing applications for the web! In this project I'm writing my first application that is
                    accessible via a web browser.</p>
                </div>
               <br>
                <div class="col-md-12 dis-title">
                    <h1> What I Learned </h1>
                </div>
                <div class="col-md-12 dis-desc">
                    <p> I learned how to write an application using object-oriented Python and how to make an application
                    serve HTML via a web server.</p>
                </div>
              <br>
                <div class="col-md-12 dis-title">
                    <h1>GitHub Link </h1>
                </div>
                <div class="col-md-12 dis-desc">
                    <a href="https://github.com/veracpg/Udacity-movie_website-Project"><p>Movie Website Project</p></a>
                </div>
            </div
          </header>
    </main>
    <br>
       <footer id="footer" class="container-fluid">
        <div class="col-md-12 footer">
            <section id="social" class="row">
            <div class="col-md-12">
              <a class="btn-lg btn-group btn-social-icon btn-facebook" href="https://www.facebook.com/vera.costapereira">
                <span class="fa fa-facebook"></span>
              </a>
              <a class="btn-lg btn-group btn-social-icon btn-github" href="https://github.com/veracpg">
                <span class="fa fa-github"></span>
              </a>
              <a class="btn-lg btn-group btn-social-icon btn-instagram" href="https://www.instagram.com/">
                <span class="fa fa-instagram"></span>
              </a>
            </div>
          <p>Build by Vera G.</p>
        </div>
      </footer>
</body>
</html>