<!DOCTYPE html>
<html lang="en">
<!-- Base page Code -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vera Portfolio</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="bootstrap-social.css">
</head>
<body>
    <main>
        <div class="container">
            <div class="col-lg-10"></div>
            <div class="col-lg-2 text-right" style="padding-top: 5%">
            <a href=../index.html><span class="glyphicon glyphicon-remove-circle" style="font-size:32px; color: silver;">
            </span></a>
            </div>
        </div>
          <div class="container links">
              <div class="col-md-4"><a href=about.html><p class="links">About Me</p></a></div>
              <div class="col-md-4"><a href=projects.html><p class="links">Projects 2017</p></a></div>
              <div class="col-md-4"><a href=contacts.html><p class="links">Contacts</p></a></div>
          </div>
          <header class="container">
            <div class="row">
                <div class="col-md-4">
                    <hr class="line-tkick">
                </div>
            </div>
              <div class="row">
                <div class="col-md-8">
                    <hr class="line-tkick">
                </div>
              </div>
              <section id="feature-work" class="row">
              <div class="col-md-12">
                  <h2 class="text-muted">2017</h2>
              </div>
              <article class="col-md-4">
                <img class="img-responsive" src="../images/deadpool.jpeg " alt="Movie Website">
                <a href="movie.html"><h3 class="text-uppercase">Movie Website</h3></a>
                <p class="text-align">Python / Fresh-tomatoes</p>
              </article>
              <article class="col-md-4">
                <img class="img-responsive" src="../images/blog.jpeg" alt="Multi User Blog">
                <a href="blog.html"><h3 class="text-uppercase">Multi User Blog</h3></a>
                <p class="text-align">Python / Jinja2 / GQL / Webapp2 / Google Engine</p>
              </article>
              <article class="col-md-4">
                <img class="img-responsive" src="../images/swiss.gi" alt="Swiss Tournament">
                <a href="swiss.html"><h3 class="text-uppercase">Swiss Tournament</h3></a>
                <p class="text-align">Python / SQL</p>
              </article>
          </section>
              <br>
              <br>
          <section id="feature-work" class="row">
              <div class="col-md-12">
              </div>
              <article class="col-md-4">
                <img class="img-responsive" src="../images/data.jpg" alt="Log Analysis">
                <a href="logs.html"><h3 class="text-uppercase">Log Analysis</h3></a>
                <p class="text-align">Python / SQL / PostgreSQL / Vagrant / Virtual Box</p>
              </article>
              <article class="col-md-4">
                <img class="img-responsive" src="../images/host.jpg" alt="Networking Inventory">
                <a href="network.html"><h3 class="text-uppercase">Networking Inventory</h3></a>
                <p class="text-align">HTML5 / CSS / Bootstrap Library / Java Script / AJAX / Python /
                Flask Framework / SQLAlchemy / PostgreSQL / JSON / Oauth2 / RESTfull API / AWS Lightsail</p>
              </article>
              <article class="col-md-4">
                <img class="img-responsive" src="../images/map.jpg" alt="Neighborhood Map">
                <a href="map.html"><h3 class="text-uppercase">Neighborhood Map</h3></a>
                <p class="text-align"> HTML / CSS / Java Script / AJAX / DOM / Google Maps API / Oauth2 /
                Knockout / JQuery </p>
              </article>
          </section>
          </header>
    </main>
    <br>
      <footer id="footer" class="container-fluid">
        <div class="col-md-12 footer">
            <section id="social" class="row">
            <div class="col-md-12">
              <a class="btn-lg btn-group btn-social-icon btn-facebook" href="https://www.facebook.com/vera.costapereira">
                <span class="fa fa-facebook"></span>
              </a>
              <a class="btn-lg btn-group btn-social-icon btn-github" href="https://github.com/veracpg">
                <span class="fa fa-github"></span>
              </a>
              <a class="btn-lg btn-group btn-social-icon btn-instagram" href="https://www.instagram.com/">
                <span class="fa fa-instagram"></span>
              </a>
            </div>
          <p>Build by Vera G.</p>
        </div>
      </footer>
</body>
</html>